//== Colors

//## Color palette by http://flatuicolors.com/
// @red: #e74c3c;
// @red2: #c0392b;
// @blue: #3498db;
// @blue2: #2980b9;
// @green: #2ecc71;
// @green2: #27ae60;
// @yellow: #f1c40f;
// @yellow2: #f39c12;
// @orange: #e67e22;
// @orange2: #d35400;
// @teal: #1abc9c;
// @teal2: #16a085;
// @purple: #9b59b6;
// @purple2: #8e44ad;
// @steel-grey: #34495e;
// @steel-grey2: #2c3e50;
//
// // Brand colors
// @brand-primary:         @blue;
// @brand-success:         @green;
// @brand-info:            @teal;
// @brand-warning:         @yellow;
// @brand-danger:          @red;
// @brand-inverse:         @steel-grey;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;